body {
  background: #fff;
  color: #434455;
  font-family: "Roboto", Raleway, sans-serif;
}
/*menu*/
header {
  display: flex;
}
header li {
  list-style: none;
}
.conteiner-nav {
  display: flex;
}
.logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 156px;
  margin-right: 76px;
  margin-bottom: 24px;
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 156px;
}
.conteiner-menu {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  display: flex;
  flex-direction: row;
  margin-right: 332px;
  margin-top: 24px;
  margin-left: 0;
  margin-bottom: 24px;
}

.conteiner-menu-items {
  margin-left: 40px;
  text-decoration: none;
  width: 48px;
  height: 48px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.conteiner-menu-items:hover {
  color: #404bbf;
}
.conteiner-menu-items:active {
  color: #404bbf;
}
.conteiner-menu-items:focus {
  color: #404bbf;
}
.conteiner-contakts {
  display: flex;
  flex-direction: row;
  font-style: normal;
}
.conteiner-contakts-items {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  margin-top: 24px;
  margin-left: 0;
  margin-right: 40px;
  margin-bottom: 24px;
}
.conteiner-contakts-items:hover {
  color: #404bbf;
}
.conteiner-contakts-items:focus {
  color: #404bbf;
}

/*conteiner-title*/
.conteiner-title {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 1.12px;
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 0;
  margin-top: 0;
}
.conteiner-title-button {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  flex-direction: row;
  border-width: 0;
  cursor: pointer;
  /* Button Text */
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  margin-left: 634px;
}
.conteiner-title-button:hover {
  color: #404bbf;
}
.main-content {
  display: flex;
  flex-direction: row;
}
.main-content-items {
  margin-right: 24px;
}
